.promo-tours {
  margin: 0 auto;
  width: 100vw;
  max-width: 1280px;
  min-height: 304px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 160px;
  padding-right: 160px;
  top: -50px;
  position: relative;

  .promo-israel {
    height: 304px;
    min-width: 236px;
    width: 236px;
    margin-bottom: 40px;
    background-image: linear-gradient($overlay-black, $overlay-black),
      url(../../images/tour-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "ProximaNovaCondensed";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 60px;
    }
    h3 {
      position: relative;
      top: -60px;
      font-size: 30px;
    }
    a {
      position: relative;
      top: -40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
      color: white;
      text-decoration: none;
      font-family: "GillSans";
      font-size: 15px;
      font-weight: 700;
      width: 133px;
      height: 40px;
      background-color: $site-blue;
      border-radius: 30px;

      span {
        padding-top: 5px;
      }
    }
  }

  .promo-usa {
    height: 304px;
    min-width: 236px;
    width: 236px;
    margin-bottom: 40px;
    background-image: linear-gradient($overlay-black, $overlay-black),
      url(../../images/tour-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "ProximaNovaCondensed";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 60px;
    }
    h3 {
      position: relative;
      top: -60px;
      font-size: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
    a {
      position: relative;
      top: -40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
      color: white;
      text-decoration: none;
      font-family: "GillSans";
      font-size: 15px;
      font-weight: 700;
      width: 133px;
      height: 40px;
      background-color: $site-blue;
      border-radius: 30px;

      span {
        padding-top: 5px;
      }
    }
  }

  .promo-australia {
    height: 304px;
    min-width: 236px;
    width: 236px;
    margin-bottom: 40px;
    background-image: linear-gradient($overlay-black, $overlay-black),
      url(../../images/tour-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "ProximaNovaCondensed";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 60px;
    }
    h3 {
      position: relative;
      top: -60px;
      font-size: 30px;
    }
    a {
      position: relative;
      top: -40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px;
      color: white;
      text-decoration: none;
      font-family: "GillSans";
      font-size: 15px;
      font-weight: 700;
      width: 133px;
      height: 40px;
      background-color: $site-blue;
      border-radius: 30px;

      span {
        padding-top: 5px;
      }
    }
  }
}
